@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(
      180deg,
      rgba(61, 90, 128, 1) 0%,
      rgba(152, 193, 217, 1) 42%,
      rgba(224, 251, 252, 1) 82%
    )
    no-repeat fixed center;
  height: calc(100% - 68px);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(61, 90, 128, 0.5);
  padding: 10px 20px;
  color: #e0fbfc;
}

nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #e0fbfc;
  transition: 200ms all;
}

nav a:hover {
  transform: scale(1.1);
  color: #98c1d9;
  transition: 200ms all;
}

nav a img {
  padding-left: 10px;
}

#author {
  font-size: 1.3rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.card {
  background-color: #f2bac9;
  padding: 20px;
  margin-bottom: 300px;
  box-shadow: rgba(61, 90, 128, 0.2) 0px 20px 30px;
}

/* Form */

.title {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  border-bottom-style: dashed;
  margin-bottom: 15px;
}

.task-submit,
.task-dropdown,
.task-input {
  padding: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

input[type="text"],
.task-dropdown {
  background-color: #941c2f;
  color: white;
  border-radius: 4px;
  border: 2px solid #e0fbfc;
  outline: none;
  transition: 500ms all;
  margin-right: 10px;
}

.task-dropdown {
  padding-right: 100px;
}

input[type="text"]:focus {
  border: none;
  transform: scale(1.5);
  transition: 500ms all;
}

.task-submit {
  background-color: #98c1d9;
  color: white;
  border-radius: 4px;
  outline: none;
  padding: 5px 50px;
  transition: 500ms all;
}

.task-submit:hover {
  transform: scale(1.2);
  transition: 500ms all;
}

.main-task-list {
  margin-top: 25px;
}

.task-name {
  margin: 0 20px;
  cursor: pointer;
}

.task-type {
  font-size: 1rem;
  background-color: #98c1d9;
  align-self: baseline;
  cursor: pointer;
  border-radius: 2px;
  margin-top: 2px;
  margin-left: 20px;
  padding: 0 10px;
}

.task-list {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-size: 1.5rem;
}

.task-checkbox {
  display: flex;
}

.task-label {
  display: flex;
  flex-direction: column;
}

input[type="checkbox"] {
  margin-left: 10px;
  position: relative;
  top: 3px;
  transform: scale(1.5);
  cursor: pointer;
}

.delete_button {
  font-size: 1.2rem;
  padding: 0 20px;
  cursor: pointer;
  background-color: #fd5971;
  border: none;
  border-radius: 3px;
  transition: 150ms all;
  height: 100%;
}

.delete_button:hover {
  transform: scale(1.1);
  transition: 150ms all;
}

.update_button {
  font-size: 1.2rem;
  padding: 0 20px;
  cursor: pointer;
  background-color: #e0fbfc;
  border: none;
  border-radius: 3px;
  transition: 150ms all;
  margin-right: 10px;
  height: 100%;
}

.update_button:hover {
  transform: scale(1.1);
  transition: 150ms all;
}
